{% if DISQUS_USERNAME is not none %}
<div id="disqus_thread">
    <a href="#" class="comments-holder" onclick="loadDisqus();return false;">Show/Post Comments</a>
</div>
<script>

    var disqus_shortname = "{{DISQUS_USERNAME}}";
    var disqus_config = function () {
        this.page.url = '{{SITEURL}}/{{article.url}}';
        this.page.identifier = '{{SITEURL}}/{{article.url}}';
    };
    var is_disqus_loaded = false;
    function loadDisqus() {
        if (!is_disqus_loaded) {
            is_disqus_loaded = true;
            var d = document, s = d.createElement('script');
            s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }

    };
</script>
{% else %}
<div id="comment2525" style="font-weight: bold; text-align: center;"></div>
<span>Comments Plugin is not enabled.</span>
</div>
{% endif %}
<style>
    div#disqus_thread {
        text-align: center;
        background-color: #eee;
        padding: 12px;
        font-weight: bold;
    }
</style>