<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info" style="text-align: center; font-size: 12px;">
    <span>
      {{ SITENAME }} - All Rights Are Reserved. <br>
      Designed by <a rel="nofollow" target="_blank" href="https://wordpress.org/">WordPress</a>. <br/>
      Ported to Pelican by 
      <a target="_blank" rel="nofollow" href="https://layoutshub.github.io">LayoutsHub</a> | <a target="_blank" rel="nofollow" href="https://vishalchopra666.github.io">Vishal Chopra</a>
    </span>
  </div>
</footer>
