{% extends 'base.html' %}

{% block title %}
<title>{{ article.title }}</title>
{% endblock %}
{% block robots %}
{% if article and article.metadata.robots %}
<meta name="robots" content="{{article.robots}}">
{% else %}
<meta name="robots" content="nonindex, follow">
{% endif %}
{% endblock %}

{% block content %}
<article class="post type-post status-publish format-standard hentry">
  <header class="entry-header">
    <h2 class="entry-title">
      {{ article.title }}
    </h2>
    {% if article.metadata.featured_image %}
    <img loading="lazy" src="{{article.featured_image}}" alt="{{article.title}}" />
    <figcaption>{{article.featured_image_caption}}</figcaption>
    {% endif %}
  </header>
  <div class="entry-content">
    <p>{{ article.content }}</p>
  </div>
  <footer class="entry-footer">
    <span class="posted-on">
      <span class="screen-reader-text">Skip</span>
      <time class="entry-date published" datetime="{{ article.date }}">{{ article.date.strftime("%Y-%m-%d") }}</time>
      <time class="updated" datetime="{{ article.date }}">{{ article.date | strftime("%Y-%m-%d")}}</time>
    </span>
    <span class="posted-by">
      {{ article.author }}
    </span>
    <span class="cat-links">
      <span class="screen-reader-text">Category </span>
      <a href="{{ SITEURL }}/category/{{article.category}}.html" rel="category">{{ article.category }}</a>
    </span>
  </footer>
</article>

<br>
<section class="format-standard hentry" style="padding: 25px;">
  {% include 'includes/comments_widget.html' %}
</section>
{% if article.manifest %}
<script src="https://cdn.jsdelivr.net/npm/tify@0.33.0/dist/tify.js"></script>
<script>
new Tify({
  container: '#tify',
  manifestUrl: '{{ SITEURL }}/{{ article.manifest }}',
})
</script>
{% endif %}
{% endblock %}