{% extends 'base.html' %}

{% block title %}
<title>{{ page.title }}</title>
{% endblock %}

{% block robots %}
{% if page and page.metadata.robots %}
<meta name="robots" content="{{page.robots}}">
{% else %}
<meta name="robots" content="nonindex, follow">
{% endif %}
{% endblock %}

{% block content %}
<article class="post type-post status-publish format-standard hentry">
  <header class="entry-header">
    <h2 class="entry-title">
      {{ page.title }}
    </h2>
    {% if page.metadata.featured_image %}
    <img src="{{page.featured_image}}" alt="{{page.title}}">
    {% endif %}
    <br>
  </header>
  <div class="entry-content">
    <p>{{ page.content }}</p>
  </div>
</article>
{% endblock %}